WRAPPER METHOD

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [6]:
data={'item':['shirt','phant','shorts','shocks'],
      'colour':['blue','red','black','white'],
      'size':['medium','small','large','small']
}

In [7]:
df=pd.DataFrame(data)
df

     item colour    size
0   shirt   blue  medium
1   phant    red   small
2  shorts  black   large
3  shocks  white   small

In [8]:
encoder=LabelEncoder()

In [9]:
df['encoded_size']=encoder.fit_transform(df['size'])
df

     item colour    size  encoded_size
0   shirt   blue  medium             1
1   phant    red   small             2
2  shorts  black   large             0
3  shocks  white   small             2